body{
    margin: 0;
    display: flex;
    justify-content: space-around;


}
.card{
    height: 350px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 60px;

}
.icon{
    height: 75px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

}
.title{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: comfortaa sans-serif;
}
.round{
    height: 75px;
    width: 75px;
    display: flex;
    border-radius: 50%;
    background: white;
    justify-content: center;
    align-items: center;
    top: -30px;
    position: relative;
    border: 1px solid black;
}
.fa-display{
    font-size: 25px;
}
.text{
    display: flex;
    color: gray;
    font-family: comfortaa sans-serif  ;
    font-size: 20px;
    text-align: center;
}
.more{
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: flex-end;

}
.more>.link{
    width: 200px;
    height: 50px;
    border: 1px solid;
    box-sizing: border-box;
    font-family: comfortaa sans-serif  ;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
